<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify - Web Player</title>
    <link
      rel="shortcut icon"
      href="/static/Images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    />
  </head>
  <body>
    <div id="main">
      <div id="page">
        <main>
          <div id="left">
            <div id="top">
              <div id="icon">
                <img src="/static/Images/spotify logo.png" alt="" />
              </div>
              <div id="btmicon">
                <div id="ft">
                  <i class="ri-home-line"></i>
                  <span>Home</span>
                </div>
                <div id="sd">
                  <i class="ri-search-line"></i>
                  <span>Search</span>
                </div>
              </div>
            </div>
            <div id="bottom">
              <div id="option">
                <div id="lb">
                  <img
                    src="/static/Images/spotifyicon/library.png"
                    alt="libraryicon"
                  /><button>Your Library</button>
                </div>
                <div id="bt">
                  <img src="/static/Images/spotifyicon/plus-sign.png" alt="" />
                </div>
              </div>
              <div id="cont">
                <div class="box">
                  <div>
                    <span>Create your first playlist</span>
                    <br />
                    <span>It's easy,we'll help you</span>
                  </div>
                  <br />
                  <div class="mb">
                    <button>Create playlist</button>
                  </div>
                </div>
                <div class="box">
                  <div>
                    <span>Let's find some podcasts to follow</span>
                    <br />
                    <span>We'll keep you updated on new episodes</span>
                  </div>
                  <br />
                  <div class="mb">
                    <button>Browse podcasts</button>
                  </div>
                </div>
              </div>
              <div id="btmcont">
                <div id="fst">
                  <div id="one">
                    <h5>Legal</h5>
                    <h5>Safety & Privacy</h5>
                    <h5>Privacy Policy</h5>
                    <h5>Cookies</h5>
                  </div>
                  <div id="two">
                    <h5>About Ads</h5>
                    <h5>Accessibility</h5>
                  </div>
                </div>
                <button><i class="ri-global-line"></i>English</button>
              </div>
            </div>
          </div>
          <div id="right">
            <div id="nav">
              <div id="arws">
                <img src="/static/Images/spotifyicon/angle-left.png" alt="" />
                <img src="/static/Images/spotifyicon/right-arrow-angle.png"
                alt="">
              </div>
              <div id="logsig">
                <a href="/signup"><button>Sign up</button></a>
                <a href="/login"><span>Log in</span></a>
              </div>
            </div>
            <div id="popular">
              <div id="popnav">
                <h2><a href="#">Popular artists</a></h2>
                <span>Show all</span>
              </div>
              <div id="popcont">
                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab676161000051740261696c5df3be99da6ed3f3.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>Arjit Singh</h4>
                    <span>Artist</span>
                  </div>
                </div>
                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174fc7c542c04b5f7dc8f1b1c16.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>Anirudh Ravichandra</h4>
                    <span>Artist</span>
                  </div>
                </div>
                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174cb6926f44f620555ba444fca.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>Pritam</h4>
                    <span>Artist</span>
                  </div>
                </div>
                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab6761610000517436a7262247318ff0f1ad00da.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>Shreya Ghoshal</h4>
                    <span>Artist</span>
                  </div>
                </div>

                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174935b2dd507212bd72a71d7f9.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>Alka Yagnik</h4>
                    <span>Artist</span>
                  </div>
                </div>

                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab676161000051748de0e6e7e55d7773931ab7f4.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>Udit Narayan</h4>
                    <span>Artist</span>
                  </div>
                </div>

                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174b19af0ea736c6228d6eb539c.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>A.R.Rahman</h4>
                    <span>Artist</span>
                  </div>
                </div>

                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174b19af0ea736c6228d6eb539c.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>A.R.Rahman</h4>
                    <span>Artist</span>
                  </div>
                </div>

                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174b19af0ea736c6228d6eb539c.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>A.R.Rahman</h4>
                    <span>Artist</span>
                  </div>
                </div>

                <div class="popbox">
                  <div id="playbtn">
                    <i class="ri-play-fill"></i>
                  </div>
                  <div class="popimgcont">
                    <div class="popimg">
                      <img
                        src="/static/Images/artistimg/ab67616100005174b19af0ea736c6228d6eb539c.jpeg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="popname">
                    <h4>A.R.Rahman</h4>
                    <span>Artist</span>
                  </div>
                </div>
              </div>
            </div>
            <footer>
              <div id="FST">
                <div id="yo">
                  <div id="company">
                    <p>Company</p>
                    <ul>
                      <li>
                        <a
                          href="https://www.spotify.com/in-en/about-us/contact/"
                          target="_blank"
                          >About</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.lifeatspotify.com/ "
                          target="_blank"
                          >Jobs</a
                        >
                      </li>
                      <li>
                        <a href="https://newsroom.spotify.com/ " target="_blank"
                          >For the Record</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div id="comunties">
                    <p>Communities</p>
                    <ul>
                      <li>
                        <a
                          href="https://artists.spotify.com/home "
                          target="_blank"
                          >For Artists</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://developer.spotify.com/ "
                          target="_blank"
                          >Devlopers</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://ads.spotify.com/en-IN/ "
                          target="_blank"
                          >Advertising</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://investors.spotify.com/home/default.aspx "
                          target="_blank"
                          >Investors</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://spotifyforvendors.com/ "
                          target="_blank"
                          >Vendors</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div id="links">
                    <p>Useful links</p>
                    <ul>
                      <li>
                        <a
                          href="https://support.spotify.com/in-en/ "
                          target="_blank"
                          >Support</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.spotify.com/in-en/free/ "
                          target="_blank"
                          >Free Mobile App</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div id="social">
                  <i class="ri-instagram-line"
                    ><a
                      href="https://www.instagram.com/spotify/ "
                      target="_blank"
                    ></a
                  ></i>
                  <i class="ri-twitter-fill"
                    ><a href="https://twitter.com/spotify " target="_blank"></a
                  ></i>
                  <i class="ri-facebook-circle-fill"
                    ><a
                      href="https://www.facebook.com/Spotify "
                      target="_blank"
                    ></a
                  ></i>
                </div>
              </div>
              <hr class="styled-hr" />
              <div id="SND">
                <p>&copy;2024 Spotify AB</p>
              </div>
            </footer>
          </div>
        </main>
        <div id="btmline">
          <div id="btm1">
            <h4>Preview of Spotify</h4>
            <span
              >Sign up to get unlimited songs and podcasts with occasional ads.
              No credit card needed.</span
            >
          </div>
          <button>Sign up free</button>
        </div>
      </div>
    </div>
    <script src="/static/js/client.js"></script>
  </body>
</html>
