<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Sign Up</title>
    <link rel="stylesheet" href="/static/css/signup.css" />
  </head>
  <body>
    <div id="main">
      <nav>
        <img src="/static/Images/spotify logo.png" alt="" />
      </nav>
      <main>
        <div id="cont">
          <div id="title">
            <h1>Sign up to start listening</h1>
          </div>
          <form action="">
            <div id="fstblck">
              <span>Email address</span>
              <input
                type="text"
                id="emailAddress"
                placeholder="name@domain.com"
              />
              <a href="#">use phone number instead.</a>
              <button>Next</button>
            </div>
            <div id="sndblck">
              <div id="fstelem">
                <div id="line"></div>
                <h6>or</h6>
                <div id="line2"></div>
              </div>
              <div id="sndelem">
                <div class="box">
                  <div class="logo">
                    <img src="/static/Images/signinoptions/google.png" alt="" />
                  </div>
                  <h4>Sign up with Google</h4>
                </div>
                <div class="box">
                  <div class="logo">
                    <img
                      src="/static/Images/signinoptions/facebook.png"
                      alt=""
                    />
                  </div>
                  <h4>Sign up with Facebook</h4>
                </div>
                <div class="box">
                  <div class="logo">
                    <img src="/static/Images/signinoptions/apple.png" alt="" />
                  </div>
                  <h4>Sign up with Apple</h4>
                </div>
              </div>
              <div id="trdelem">
                <div id="line3"></div>
                <h5>Already have an account? <a href="#">Login in here.</a></h5>
              </div>
            </div>
          </form>
        </div>
        <div id="footer">
          <span
            >This site is protected by reCAPTCHA and the Google
            <a href="#">Privacy Policy</a> and
            <a href="#">Terms of Service </a>apply.</span
          >
        </div>
      </main>
    </div>
    <script src="/static/js/client.js"></script>
  </body>
</html>
